$theme-primary: #FF9843;
$theme-secondary: #ffaf6d;
$font-size-small: 9px;
$font-size-notsosmall: 11px;
$font-size-medium: 13px;
$font-size-notsolarge: 15px;
$font-size-large: 19px;

.content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thin-horizontal-line {
    border: 1px solid rgb(222, 226, 230);
    width: 100%;
}