.thank-you-icon {
    color: rgb(0, 88, 0);
    height: 20px;
    width: 20px;
    right: 25px;
    position: relative;
}

.thank-you-outside-circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: rgb(170 221 170);
}