@use "./global-styles.scss" as g;

.fw-500 {
    font-weight: 500;
}

.text-small {
    font-size: g.$font-size-small;
}

.text-notsosmall {
    font-size: g.$font-size-notsosmall;
}

.text-medium {
    font-size: g.$font-size-medium;
}

.text-notsolarge {
    font-size: g.$font-size-notsolarge;
}

.text-large {
    font-size: g.$font-size-large;
}

.text-description {
    color: rgb(151, 148, 148);
}

.text-black {
    color: black;
}