@use "./global-styles.scss" as g;

.fw-500 {
    font-weight: 500;
}

.text-small {
    font-size: g.$font-size-small;
}

.text-notsosmall {
    font-size: g.$font-size-notsosmall;
}

.text-medium {
    font-size: g.$font-size-medium;
}

.text-notsolarge {
    font-size: g.$font-size-notsolarge;
}

.text-large {
    font-size: g.$font-size-large;
}

.text-title {
    font-size: g.$font-size-title;
}

.text-title-2 {
    font-size: 35px;
}

.text-description {
    color: rgb(151, 148, 148);
}

.text-black {
    color: black;
}

@media (max-width: 430px) {
    .text-title {
        font-size: 33px;
    }

    .text-large {
        font-size: 17px;
    }
}

@media (max-width: 390px) {
    .text-title {
        font-size: 30px;
    }

    .text-title-2 {
        font-size: 25px;
    }

    .text-large {
        font-size: 17px;
    }
}