@use '../global-styles.scss' as g;

.card {
    height: 90%;
}

.add-to-basket {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.add-to-basket-button {
    background-color: g.$theme-primary;
    transition: g.$transition-background-color;

    &:hover {
        background-color: g.$color-button-hover;
    }
}

.add-to-basket-button-outline {
    border: 1px solid g.$theme-primary;
}

.selected {
    border-right: 5px solid g.$theme-primary;
}

.plus-sign {
    height: 20px;
    width: 20px;
    color: white;
}